.cart {
	&__options {
		margin: 5rem 0;
		display: flex;
		justify-content: flex-end;

		& > * {
			&:first-child {
				margin-right: auto;
			}
		}
	}

	&__button {
		font-size: 1.4rem;
		font-weight: 600;
		padding: 0.7rem 3.2rem;
	}

	&__update {
		border-color: var(--color-black-4);
		margin-right: 2rem;

		&:hover {
			border-color: var(--color-green-1);
		}
	}
}
