.toolbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 2rem;
	margin: 2rem 0;

	&__filter {
		flex-basis: 20%;
	}

	&__views {
		flex-basis: 20%;
	}

	&__limiter {
		flex-basis: 18%;
	}

	&__order {
		flex-basis: 25%;
		display: flex;
		align-items: center;
		gap: 2rem;

		& > * {
			flex-basis: 75%;
		}
	}

	&__arrow {
		flex: 1;
	}
}
