.quantity {
	position: relative;
	padding: 0.5rem 2rem;
	border: 1px solid #ccc;
	border-radius: 5rem;

	&__inc,
	&__dec {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		cursor: pointer;
		user-select: none;
	}

	&__dec {
		left: 2rem;
	}

	&__inc {
		right: 2rem;
	}

	&__count {
		width: 2rem;
		margin: 0 3rem;
	}
}
