.display {
	&__cards {
		display: flex;
		margin-bottom: 6rem;

		& > * {
			&:nth-child(1) {
				margin-right: 3rem;
				flex-basis: 70%;
			}

			&:nth-child(1) {
				flex: 1;
				margin-right: 3rem;
			}
		}
	}

	&__container {
		display: flex;
		border: 1px solid var(--color-grey-7);
		margin-bottom: 5rem;
	}

	&__slider {
		flex: 1;
		overflow: hidden;
		padding: 2.7rem 3rem;
	}
}
