.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
	background-color: rgba(0, 0, 0, 0.7);

	&__enter {
		opacity: 0;
	}

	&__enterActive {
		opacity: 1;
		transition: 0.3s all ease;
	}

	&__exit {
		opacity: 1;
	}

	&__exitActive {
		opacity: 0;
		transition: 0.3s all ease;
	}
}
