.modal {
	position: fixed;
	top: 20%;
	left: 30%;
	background-color: var(--color-white-1);
	width: 40%;
	z-index: 200;

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: var(--color-blue-1);
		padding: 1.2rem;
	}

	&__area {
		padding: 2rem;
	}

	&__enter {
		opacity: 0;
		transform: translateY(-20%);
	}

	&__enterActive {
		opacity: 1;
		transform: translateY(0);
		transition: all 0.3s ease;
	}

	&__exit {
		opacity: 1;
		transform: translateY(0);
	}

	&__exitActive {
		opacity: 0;
		transform: translateY(-100%);
		transition: all 0.2s ease;
	}
}
