.account {
	&__title {
		position: relative;
		font-weight: 600;

		&::after {
			content: "";
			position: absolute;
			left: 0;
			bottom: -2px;
			width: 20%;
			height: 2px;
			background-color: var(--color-black-1);
		}
	}
}
