:root {
	//FONT
	--primary-font: "Poppins", sans-serif;

	// FONT SIZES
	--heading-size-1: 6rem;
	--heading-size-2: 3rem;
	--heading-size-3: 2.4rem;
	--heading-size-4: 1.8rem;
	--heading-size-5: 1.6rem;
	--heading-size-6: 1.4rem;

	//COLORS
	--color-black-1: #222222;
	--color-black-2: #1a1a1a;

	--color-white-1: #ffffff;

	--color-grey-1: #878787;
	--color-grey-2: #f6f6f8;
	--color-grey-3: #5f5f5f;
	--color-grey-4: #e5efe5;
	--color-grey-5: #8e8e8e;
	--color-grey-6: #7d6e6d;

	--color-blue-1: #56cfe1;

	--color-green-1: #6faf11;
	--color-green-2: #76a72e;
	--color-green-3: #006400;
	--color-green-4: #638c28;

	--color-orange-1: #fe9931;

	--color-red-1: #ec0101;
}
