.info {
	&__tabs {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__content {
		padding: 3rem 0;
	}

	&__text {
		font-size: 1.4rem;
		color: var(--color-grey-1);

		&:not(:last-child) {
			margin-bottom: 1.4rem;
		}
	}
}
