.slider {
	position: relative;
	margin-right: 2rem;
	overflow-x: hidden;
	overflow: hidden;

	&__container {
		height: 100%;
		display: flex;
		flex-wrap: nowrap;
		transition: 0.3s transform ease;
	}

	&__previous,
	&__next {
		position: absolute;
		top: 40%;
		transform: translateY(-50%);
	}

	&__previous {
		left: 0;
	}

	&__next {
		right: 0;
	}
}
