.slide {
	background-size: cover;
	background-position: center center;
	transition: 0.7s opacity ease;
	opacity: 0;
	overflow: hidden;

	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	&:nth-child(odd),
	&:nth-child(even) {
		.slide__content {
			position: absolute;
			left: 50%;
			z-index: 20;
			transition: all 0.5s ease-out 0.7s;
			text-align: center;
		}
	}

	&:nth-child(odd) {
		.slide__content {
			top: -10%;
			transform: translate(-50%, -50%);
			opacity: 0;
		}

		.slide__contentactive {
			top: 50%;
			opacity: 1;
		}
	}

	&:nth-child(even) {
		.slide__content {
			bottom: -10%;
			transform: translate(-50%, 50%);
			opacity: 0;
		}

		.slide__contentactive {
			bottom: 50%;
			opacity: 1;
		}
	}

	&__active {
		opacity: 1;
		z-index: 10;
	}

	&__subheading {
		color: var(--color-grey-1);
		margin-bottom: 5rem;
	}
}
