.sidebar {
	position: fixed;
	top: 0;
	right: 0;
	width: 21%;
	height: 100vh;
	background-color: var(--color-white-1);
	z-index: 200;

	&__header {
		position: relative;
		text-align: center;
		padding: 1.2rem;
		background-color: var(--color-black-1);
	}

	&__title {
		display: inline-block;
		text-transform: uppercase;
		font-weight: 600;
		letter-spacing: 1px;
		color: var(--color-white-1);
	}

	&__close {
		position: absolute;
		top: 50%;
		left: 1rem;
		transform: translateY(-50%);
		display: inline-block;
		background: none;
		border: none;
		color: var(--color-white-1);
	}

	&__content {
		padding: 2rem;
	}

	&__total {
		font-weight: 600;
		font-size: 1.8rem;
		text-transform: uppercase;
		text-align: center;
		margin-top: 2rem;
	}

	&__cart,
	&__checkout {
		width: 100%;
		font-weight: 600;
		padding: 0.7rem;
		text-transform: capitalize;
		transition: 0.3s all ease;

		&:hover {
			background-color: var(--color-green-1);
			color: var(--color-white-1);
		}
	}

	&__cart {
		margin: 1.6rem 0;
		color: var(--color-black-1);
		border: 2px solid var(--color-black-1);
		background-color: var(--color-white-1);

		&:hover {
			border: 2px solid var(--color-green-1);
		}
	}

	&__checkout {
		background-color: var(--color-black-1);
	}

	&__enter {
		transform: translateX(200%);
	}

	&__enterActive {
		transform: translateX(0);
		transition: 0.3s transform ease;
	}

	&__exit {
		transform: translateX(0);
	}

	&__exitActive {
		transform: translateX(200%);
		transition: 0.3s transform ease;
	}
}
