.header {
	background-color: orangered;

	&__content {
		padding-top: 4rem;
		padding-bottom: 4rem;

		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__options {
		span {
			&:not(:last-child) {
				margin-right: 2rem;
			}
		}
	}
}

.navigation {
	&__list {
		display: flex;
		align-items: center;
	}
}
