.header {
	&__content {
		padding: 4rem 8rem !important;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__options {
		span {
			&:not(:last-child) {
				margin-right: 2rem;
			}
		}
	}

	&__icon {
		&:not(:last-child) {
			margin-right: 1rem;
		}
	}
}

.navigation {
	&__list {
		display: flex;
		align-items: center;
	}
}
