.newsletter {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 35%;
	transform: translate(-50%, -50%);
	z-index: 200;
	background-color: var(--color-white-1);

	&__backdrop {
		background-color: rgba(51, 51, 51, 0.55);
	}

	&__cross {
		position: absolute;
		top: 0;
		right: 0;
		transform: translate(50%, -50%);
		background-color: rgba(255, 255, 255, 0.8);
		padding: 0.2rem 1.4rem;
		cursor: pointer;
		transition: all 0.3s ease;

		&:hover {
			background-color: var(--color-white-1);
		}
	}

	&__banner {
		width: 100%;
		height: 15rem;
		display: flex;
		justify-content: center;
		align-items: center;
		background-image: linear-gradient(
				to right,
				rgba(0, 0, 0, 0.3),
				rgba(0, 0, 0, 0.3)
			),
			url("../../../assets/images/layout/newsletter.jpg");
		background-size: cover;
		background-repeat: no-repeat;
	}

	&__title {
		font-size: 2rem;
		text-transform: uppercase;
		font-weight: 600;
		color: var(--color-white-1);
	}

	&__content {
		padding: 2rem;
		text-align: center;
	}

	&__heading {
		font-size: 1.8rem;
		font-weight: 600;
		margin-bottom: 1rem;
	}

	&__text {
		font-size: 1.4rem;
		color: var(--color-grey-1);
	}

	&__input {
		margin: 1rem 0 2rem 0;
	}

	&__button {
		width: 100%;
		padding: 0.8rem;
		font-size: 1.4rem;
		font-weight: 500;
	}

	&__alert {
		font-size: 1.2rem;
		margin-top: 1rem;
		margin-bottom: 3rem;
		padding: 1.4rem;
		background-color: #f4f4f4;
		text-align: center;
	}

	&__enter {
		opacity: 0;
		top: -50%;
	}

	&__enterActive {
		opacity: 1;
		transition: all 0.3s ease;
		top: 50%;
	}

	&__exit {
		opacity: 1;
		top: 50%;
	}

	&__exitActive {
		opacity: 0;
		top: -50%;
		transition: all 0.2s ease;
	}
}
