.button {
	padding: 1rem 4.4rem;
	border: none;
	border-radius: 10rem;
	color: var(--color-white-1);
	background-color: var(--color-green-1);
	font-weight: 700;
	font-size: 1.5rem;
	cursor: pointer;
}
