.search {
	background-color: var(--color-green-2);

	&__content {
		display: flex;
		justify-content: space-between;
	}

	&__dropdown {
		text-transform: capitalize;
	}

	&__field {
		flex-basis: 56%;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 1rem 0;
	}

	&__form {
		width: 80%;
	}

	&__input {
		width: 100%;
		padding: 1.1rem 3rem;
		border-radius: 4px;
		border: none;

		&:focus {
			outline: none;
		}

		&::placeholder {
			letter-spacing: 1px;
		}
	}

	&__offer {
		flex: 1;
		font-size: 1.5rem;
		display: flex;
		justify-content: center;
		align-items: center;
		color: var(--color-white-1);
	}

	&__occation {
		font-weight: 600;
		margin: 0 0.5rem;
		color: var(--color-white-1);
		background-color: transparent;
	}

	&__discount {
		font-weight: 600;
		margin: 0 0.5rem;
		background-color: var(--color-orange-2);
		color: var(--color-white-1);
	}
}
